@media screen and (min-width: 1400px) and (max-width: 1599px) {
	.single-product-card {
		padding: 35px 30px;
	}

	.swip-prev {
		left: 0px;
	}
	.swip-next {
		right: 0px;
	}
	.swip-next,
	.swip-prev {
		bottom: 50%;
	}
	.swip-prev.prev i,
	.swip-next.next i,
	.pass-project-swip-prev i,
	.pass-project-swip-next i {
		color: #165831;
	}

	.past-projects-area {
		padding: 80px 0;
	}
	.pass-project-swip-prev {
		left: 16px;
		z-index: 6;
	}
	.pass-project-swip-next {
		right: 16px;
		z-index: 6;
	}
}

/*=============================
Extra Large Screen - Others
===============================*/
@media screen and (min-width: 1200px) and (max-width: 1399px) {
	.desktop-menu ul {
		column-gap: 20px;
	}
	.desktop-menu ul li a {
		font-size: 18px;
	}
	.desktop-menu ul li:last-child a {
		padding: 15px 20px;
		font-size: 15px;
	}

	.hero-area {
		padding-top: 200px;
		padding-bottom: 170px;
	}
	.hero-content-card h2 {
		font-size: 53px;
		padding-right: 20px;
	}
	.hero-content-card p {
		padding-right: 100px;
	}

	.button a {
		font-size: 16px;
		padding-left: 22px;
	}
	.single-product-card {
		height: 100%;
	}
	.single-product-content {
		display: flex;
		flex-direction: column;
		height: 100%;
	}
	.product-features {
		flex-grow: 1;
	}

	.why-choose-area {
		padding: 90px 0;
		padding-bottom: 0;
	}
	.choose-items {
		padding: 50px 0;
	}
	.top-content {
		padding: 25px 25px 35px 25px;
	}
	.top-content h3 {
		font-size: 24px;
		margin-bottom: 10px;
	}

	.past-projects-area {
		padding: 60px 0;
		padding-top: 0;
	}
	.cost-info,
	.project-features {
		grid-template-columns: 1fr;
	}
	.project-title-subtitle h3 {
		font-size: 21.347px;
	}

	.working-us-area {
		padding: 100px 0;
	}

	.resources-wrpper {
		padding-top: 50px;
	}
	.resouce-desc h3 {
		font-size: 22px;
		margin-top: 13.5px;
		margin-bottom: 6.5px;
	}
	.single-resource-card {
		padding: 20px 20px 48px 20px;
	}
}

/*========================
Large Screen - Leptop
==========================*/
@media screen and (min-width: 992px) and (max-width: 1199px) {
	.logo-card a img {
		max-width: 230px;
	}

	.hero-area {
		padding-top: 150px;
		padding-bottom: 130px;
	}
	.hero-content-card {
		max-width: 560px;
	}
	.hero-content-card h2 {
		font-size: 42px;
		padding-right: 20px;
	}
	.hero-content-card p {
		padding-right: 100px;
		font-size: 26px;
		margin-bottom: 30px;
	}
	.hero-content-card a {
		font-size: 20px;
		padding-left: 24.39px;
	}

	.loan-products-area {
		padding-bottom: 80px;
	}
	.products-cards {
		padding-top: 40px;
	}
	.products-cards .row {
		row-gap: 25px;
	}

	.location-card {
		column-gap: 48px;
	}

	.why-choose-area {
		padding: 70px 0;
		padding-bottom: 0;
	}
	.choose-items {
		padding: 30px 0;
		row-gap: 25px;
	}
	.top-content {
		padding: 25px 25px 35px 25px;
	}
	.top-content h3 {
		font-size: 24px;
		margin-bottom: 10px;
	}

	.section-title h2 {
		font-size: 43px;
	}
	.swiper-wrapper {
		padding-top: 100px;
	}
	.swip-prev {
		left: 0px;
	}
	.swip-next {
		right: 0px;
	}
	.swip-next,
	.swip-prev {
		bottom: 51%;
	}
	.swip-prev.prev i,
	.swip-next.next i {
		color: #165831;
	}

	.past-projects-area {
		padding: 60px 0;
		padding-top: 0;
	}

	.project-title-subtitle h3 {
		font-size: 21.347px;
	}

	.pass-project-swip-prev {
		left: -24px;
	}
	.pass-project-swip-next {
		right: -25px;
	}

	.working-us-area {
		padding: 75px 0;
	}

	.resources-wrpper {
		padding-top: 50px;
		gap: 40px;
	}
	.resources-title h2 {
		font-size: 45px;
	}
	.resouce-desc h3 {
		font-size: 22px;
		margin-top: 13.5px;
		margin-bottom: 6.5px;
	}
	.single-resource-card {
		padding: 20px 20px 48px 20px;
	}
}

/*=========================
Medium Screen - Tablate
=========================*/
@media screen and (min-width: 768px) and (max-width: 991px) {
	.logo-card a img {
		max-width: 250px;
	}

	.hero-area {
		padding-top: 95px;
		padding-bottom: 80px;
	}
	.hero-content-card {
		max-width: 560px;
	}
	.hero-content-card h2 {
		font-size: 34px;
		padding-right: 161px;
		margin-bottom: 10px;
	}
	.hero-content-card p {
		padding-right: 170px;
		font-size: 20px;
		margin-bottom: 30px;
	}
	.hero-content-card a {
		font-size: 20px;
		padding-left: 24.39px;
	}

	.loan-products-area {
		padding-top: 60px;
		padding-bottom: 60px;
	}
	.products-cards {
		padding-top: 40px;
	}
	.products-cards .row {
		row-gap: 25px;
	}
	.single-product-card {
		padding: 37px 20px;
	}
	.button a {
		font-size: 16px;
		padding-left: 16px;
	}

	.we-lend-area {
		padding: 70px 0;
	}
	.we-lean-title {
		text-align: center;
	}
	.we-lean-title h2 {
		text-align: center;
	}
	.we-lean-title p {
		font-size: 20px;
	}
	.we-lean-title p b {
		font-size: 26px;
	}
	.map-card {
		padding: 30px 0;
		padding-bottom: 50px;
	}
	.location-card {
		column-gap: 50px;
	}
	.location-card-desc {
		padding: 0 20px;
		text-align: center;
	}
	.view-all-collection-btn {
		padding-top: 60px;
	}

	.why-choose-area {
		padding: 70px 0;
	}
	.choose-items {
		padding: 30px 0;
		row-gap: 25px;
	}
	.top-content {
		padding: 25px 25px 35px 25px;
	}
	.top-content h3 {
		font-size: 24px;
		margin-bottom: 10px;
	}

	.swiper-wrapper {
		padding-top: 90px;
	}
	.swip-prev {
		left: -30px;
	}
	.swip-next {
		right: -30px;
	}

	.past-projects-area {
		padding: 60px 0;
		padding-top: 0;
	}
	.past-projects-title h2 {
		font-size: 42px;
		margin-bottom: 8px;
	}
	.past-projects-title p {
		font-size: 23px;
	}
	.past-projects-wrpper {
		row-gap: 25px;
	}
	.project-title-subtitle h3 {
		font-size: 19.347px;
		line-height: 130.903%;
	}
	.project-title-subtitle {
		padding-bottom: 15px;
	}
	.cost-info,
	.project-features {
		grid-template-columns: 1fr;
	}
	.pass-project-swip-prev {
		left: -30px;
	}
	.pass-project-swip-next {
		right: -30px;
	}

	.working-us-area {
		padding: 60px 0;
	}
	.working-us-wrpper .row {
		row-gap: 25px;
	}

	.resources-wrpper {
		padding-top: 30px;
		gap: 30px;
		padding-bottom: 50px;
	}
	.resources-title h2 {
		font-size: 36px;
	}
	.resouce-desc h3 {
		font-size: 22px;
		margin-top: 13.5px;
		margin-bottom: 6.5px;
	}
	.single-resource-card {
		padding: 20px 20px 48px 20px;
	}
	.resources-row.row {
		row-gap: 25px;
	}
}

/*===============================
Xtra Small Screen - Small Mobile
=================================*/
@media screen and (max-width: 768px) {
	.header-area {
		padding: 20px 0;
	}

	.hero-area {
		padding-top: 100px;
		padding-bottom: 100px;
		background-position: left;
	}
	.hero-content-card {
		text-align: center;
	}
	.hero-content-card h2 {
		font-size: 30px;
		margin-bottom: 10px;
	}
	.hero-content-card p {
		font-size: 19px;
		margin-bottom: 20px;
	}
	.hero-content-card a {
		font-size: 20px;
		padding-left: 20.39px;
	}

	.loan-products-area {
		padding-top: 40px;
		padding-bottom: 40px;
	}
	.products-cards {
		padding-top: 15px;
	}
	.products-cards .row {
		row-gap: 25px;
	}
	.single-product-card {
		padding: 37px 20px;
	}
	.button a {
		font-size: 16px;
		padding-left: 16px;
	}
	.section-title h2 {
		font-size: 30px;
	}

	.we-lend-area {
		padding: 40px 0;
	}
	.we-lean-title {
		text-align: center;
	}
	.we-lean-title h2 {
		text-align: center;
		font-size: 35px;
	}
	.we-lean-title p {
		font-size: 20px;
		line-height: 135%;
	}
	.we-lean-title p b {
		font-size: 23px;
	}
	.map-card {
		padding: 30px 0;
		padding-bottom: 50px;
	}
	.location-card {
		column-gap: 50px;
		grid-template-columns: repeat(1, 1fr);
		row-gap: 20px;
	}
	.location-card-desc {
		padding: 0 20px;
		text-align: center;
	}
	.view-all-collection-btn {
		padding-top: 40px;
	}
	.view-all-collection-btn a {
		font-size: 20px;
		padding-left: 17px;
		border-radius: 8px;
	}

	.why-choose-area {
		padding: 40px 0;
		padding-bottom: 0;
	}
	.choose-items {
		padding: 20px 0;
		row-gap: 15px;
	}
	.top-content {
		padding: 25px 25px 35px 25px;
	}
	.top-content h3 {
		font-size: 24px;
		margin-bottom: 10px;
	}

	.client-reviews {
		padding: 50px 0;
	}
	.swiper-wrapper {
		padding-top: 84px;
	}
	.swip-prev {
		left: 0;
		top: 32%;
	}
	.swip-next {
		right: 0px;
		top: 32%;
	}
	.swip-prev.prev i,
	.swip-next.next i,
	.pass-project-swip-prev i,
	.pass-project-swip-next i {
		color: #165831;
	}

	.past-projects-area {
		padding: 35px 0;
		padding-top: 0;
	}
	.past-projects-title h2 {
		font-size: 35px;
		margin-bottom: 8px;
		text-align: center;
	}
	.past-projects-title p {
		font-size: 19px;
		text-align: center;
	}
	.past-projects-wrpper {
		row-gap: 25px;
	}
	.project-title-subtitle h3 {
		font-size: 19.347px;
		line-height: 130.903%;
	}
	.project-title-subtitle {
		padding-bottom: 15px;
	}
	.cost-info,
	.project-features {
		grid-template-columns: 1fr;
	}
	.pass-project-swip-prev {
		left: -6px;
		z-index: 6;
	}
	.pass-project-swip-next {
		right: -5px;
		z-index: 6;
	}

	.working-us-area {
		padding: 40px 0;
	}
	.working-us-wrpper .row {
		row-gap: 15px;
	}
	.working-us-area .section-title p {
		font-size: 16px;
		padding-bottom: 20px;
	}

	.resources-wrpper {
		padding-top: 30px;
		gap: 30px;
		padding-bottom: 30px;
	}
	.resources-title {
		flex-direction: column;
		align-items: center;
		gap: 15px;
	}
	.resources-title h2 {
		font-size: 30px;
		text-align: center;
	}
	.resouce-desc h3 {
		font-size: 22px;
		margin-top: 13.5px;
		margin-bottom: 6.5px;
	}
	.single-resource-card {
		padding: 20px 20px 48px 20px;
	}
	.resources-row.row {
		row-gap: 25px;
	}
}
