/*=====================
FONTS LINK HERE
======================*/
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

/*======================
DEFAULT CSS HERE
========================*/
body {
	font-family: "Inter", sans-serif;
	font-size: 16px;
	font-weight: 400;
	background: #f5f5f5;
	color: #333333;
}

*,
p {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a,
a:hover {
	text-decoration: none;
	display: inline-block;
}

ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.scrolltotop {
	width: 40px;
	height: 40px;
	line-height: 40px;
	border-radius: 50%;
	background: #949293;
	text-align: center;
	font-size: 22px;
	color: #ffffff;
	position: fixed;
	right: 30px;
	bottom: 25px;
	display: none;
	animation: lab_top_up 5s linear infinite;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
	z-index: 1;
}

.scrolltotop i {
	color: #ffff;
}

@keyframes lab_top_up {
	0% {
		transform: translateY(-15px);
	}
	50% {
		transform: translateY(0px);
	}
	100% {
		transform: translateY(-15px);
	}
}

.pluse,
.pluse2 {
	position: relative;
	top: 11px;
	left: -8px;
	z-index: -1;
}

.pluse::before,
.pluse2::before {
	width: 40px;
	height: 40px;
}

.pluse::after,
.pluse::before,
.pluse2::after,
.pluse2::before {
	background: #949293;
	border-radius: 50%;
	left: 50%;
	top: 50%;
	display: block;
	content: "";
	position: absolute;
	top: 2px;
	left: 0;
}

.pluse::after,
.pluse2::after {
	width: 30px;
	height: 30px;
	background: transparent;
	margin-left: -15px;
	margin-top: -15px;
}

.pluse::before {
	-webkit-animation: pluse_animate 2.5s infinite linear;
	animation: pluse_animate 2.5s infinite linear;
}

.pluse2::before {
	-webkit-animation: pluse_animate 3s infinite linear;
	animation: pluse_animate 3s infinite linear;
}

@keyframes pluse_animate {
	0% {
		opacity: 1;
		-webkit-transform: translate(-50%, -50%) scale(0.3);
		transform: translate(-50%, -50%) scale(0.3);
	}
	100% {
		opacity: 0;
		-webkit-transform: translate(-50%, -50%) scale(2);
		transform: translate(-50%, -50%) scale(2);
	}
}

.container {
	padding-left: 15px;
	padding-right: 15px;
}

/*======================
HEADER CSS HERE
========================*/
.header-area {
	padding: 29px 0;
	background: rgba(255, 255, 255, 0.7);
	backdrop-filter: blur(30px);
	/* position: sticky;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 999999; */
}

.logo-card a img {
	width: 100%;
	max-width: 308px;
}

.desktop-menu ul {
	column-gap: 32px;
}

.desktop-menu ul li a {
	color: #212121;
	font-size: 20px;
	font-weight: 500;
}

.desktop-menu ul li:last-child a {
	padding: 20px 32px;
	display: block;
	border-radius: 8px;
	background: rgba(22, 88, 49, 0.9);
	box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.25) inset,
		0 0 40px 0 rgba(0, 0, 0, 0.25);
	color: #fff;
	font-size: 18px;
	font-weight: 600;
	text-transform: uppercase;
	border: 1px solid transparent;
	transition: all 0.5s ease;
}

.desktop-menu ul li:last-child a:hover {
	background: transparent;
	border-color: rgba(22, 88, 49, 0.9);
	color: rgba(22, 88, 49, 0.9);
}

.humbarger-icon {
	flex-direction: column;
	align-items: flex-end;
}

.icon-line {
	cursor: pointer;
}

.humbarger-icon .line {
	width: 45px;
	height: 5px;
	background-color: rgba(22, 88, 49, 0.9);
	display: block;
}

.humbarger-icon .line:nth-child(2) {
	margin: 8px 0;
}

#offcanvasRight {
	z-index: 90000000;
}

.offcanvas-header a img {
	width: 200px;
}

.btn-close:focus {
	box-shadow: none;
}

.offcanvas-body .desktop-menu ul {
	display: flex;
	flex-direction: column;
	row-gap: 15px;
}

.offcanvas-body .desktop-menu ul li:last-child a {
	display: inline-block;
}

/*======================
HERO CSS HERE
========================*/

.hero-area {
	padding-top: 299px;
	padding-bottom: 298px;
	background: url(images/hero-area-bg.png) no-repeat;
	background-size: cover;
	background-position: center;
}

.hero-content-card {
	max-width: 700px;
}

.hero-content-card h2 {
	font-size: 60px;
	font-weight: 900;
	letter-spacing: -0.6px;
	text-transform: uppercase;
	background: linear-gradient(
		92deg,
		#165831 -0.02%,
		rgba(22, 88, 49, 0.8) 99.98%
	);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	margin-bottom: 20px;
}

.hero-content-card p {
	color: #343434;
	font-size: 32px;
	font-weight: 600;
	line-height: 150%;
	margin-bottom: 60px;
}

.hero-content-card a,
.button a {
	color: #f2f2f2;
	font-size: 24px;
	font-weight: 600;
	text-transform: uppercase;
	background: url(images/hero-button-gb.png) no-repeat;
	background-size: cover;
	background-position: right;
	display: flex;
	align-items: center;
	padding-top: 4px;
	padding-bottom: 4px;
	padding-right: 6px;
	border-radius: 8px;
	padding-left: 39.39px;
	display: inline-block;
	/* clip-path: polygon(0 0, 100% 0%, 95% 100%, 0% 100%); */
}

/*======================
LOAN PRODUCTS CSS HERE
========================*/
.loan-products-area {
	padding-top: 80px;
	padding-bottom: 120px;
	background: #fefefe;
}

.section-title h2 {
	color: #165831;
	text-align: center;
	font-size: 56px;
	font-weight: 800;
	letter-spacing: 2.24px;
	text-transform: uppercase;
}

.products-cards {
	padding-top: 80px;
}

.single-product-card {
	padding: 40px 35px;
	border-radius: 20px;
	background: #fff;
	box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.4);
	position: relative;
	overflow: hidden;
}

.top-style {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}

.bottom-style {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 100%;
	text-align: right;
}

.icon-card {
	display: flex;
	width: 120px;
	height: 120px;
	padding: 25px 19.847px 25px 20.153px;
	justify-content: center;
	align-items: center;
	border-radius: 20px;
	background: #165831;
	margin: 0 auto;
}

.card-title {
	padding: 20px 0;
	margin-bottom: 0 !important;
}

.card-title h3 {
	color: #165831;
	font-size: 32px;
	font-weight: 600;
	text-align: center;
}

.card-title p {
	color: #165831;
	text-align: center;
	font-weight: 500;
}

.product-features ul {
	display: flex;
	flex-direction: column;
	row-gap: 12px;
}

.product-features ul li {
	display: flex;
	align-items: center;
	gap: 10px;
}

.product-features ul li span {
	color: #165831;
	font-weight: 500;
}

.product-features ul li a {
	color: #165831;
	font-weight: 600;
	text-decoration: underline;
}

.product-features ul li:last-child {
	margin-top: 8px;
}

.button {
	text-align: center;
	padding-top: 20px;
}

.button a {
	font-size: 19px;
	padding-left: 32px;
}

.products-cards .col-xxl-4:first-child .single-product-card {
	background: #165831;
}

.products-cards .col-xxl-4:first-child .single-product-card .icon-card {
	background: #ffffff;
}

.products-cards .col-xxl-4:first-child .single-product-card .card-title h3,
.products-cards .col-xxl-4:first-child .single-product-card .card-title p,
.products-cards .col-xxl-4:first-child .single-product-card ul li span,
.products-cards .col-xxl-4:first-child .single-product-card ul li a {
	color: #ffffff;
}

.products-cards .col-xxl-4:first-child .single-product-card ul li svg path {
	stroke: #fff;
}

.products-cards .col-xxl-4:first-child .single-product-card .button a {
	background: url(images/button-white-bg.png) no-repeat;
	background-size: cover;
	background-position: right;
	color: #165831;
}

/*======================
WE LEND CSS HERE
========================*/
.we-lend-area {
	padding: 120px 0;
	background: radial-gradient(
		55.29% 55.29% at 50% 50%,
		#499668 0%,
		#165831 100%
	);
}

.we-lean-title h2 {
	color: #fff;
	font-size: 56px;
	font-weight: 800;
	letter-spacing: 2.24px;
	text-transform: uppercase;
	margin-bottom: 16px;
	text-align: left;
}

.we-lean-title p {
	color: #fff;
	font-size: 24px;
	line-height: 90%;
	letter-spacing: 0.24px;
}

.we-lean-title p b {
	font-size: 32px;
}

.map-card {
	max-width: 1170px;
	margin: auto;
	padding: 80px 0;
}

.map-card img {
	width: 100%;
	display: block;
}

.location-card {
	max-width: 1080px;
	margin: 0 auto;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	column-gap: 200px;
}

.Texas-card {
	position: relative;
}

.Texas-card img {
	width: 100%;
}

.location-card-desc {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	z-index: 2;
}

.location-card-desc h3 {
	color: #fff;
	font-size: 56px;
	font-weight: 800;
	letter-spacing: 2.24px;
	margin-bottom: 10px;
}

.location-card-desc p {
	color: #fff;
	font-size: 24px;
	font-weight: 500;
	letter-spacing: 0.24px;
}

.location-card-desc a {
	padding: 20px;
	color: #fff;
	font-size: 20px;
	font-weight: 700;
	line-height: 170%;
	text-transform: uppercase;
	border-radius: 80px;
	border: 2px solid #fff;
}

.view-all-collection-btn {
	text-align: center;
	padding-top: 80px;
}

.view-all-collection-btn a {
	background: url(images/button-white-bg.png) no-repeat;
	background-size: cover;
	background-position: right;
	color: #175730;
	font-size: 24px;
	font-weight: 600;
	padding-left: 38px;
	padding-top: 4px;
	padding-bottom: 4px;
	padding-right: 4px;
	text-transform: uppercase;
	display: inline-flex;
	align-items: center;
	gap: 15px;
	border-radius: 9px;
}

/*======================
WHY CHOOSE CSS HERE
========================*/
.why-choose-area {
	padding: 120px 0;
}

.choose-items {
	padding: 80px 0;
}

.single-choose-item {
	border-radius: 8px;
	border: 1px solid var(--30-shades-01, #b3bac5);
	background: var(--60-background-white, #fff);
	height: 100%;
	display: flex;
	flex-direction: column;
}

.top-content {
	padding: 42px 53px 58px 41px;
	flex-grow: 1;
}

.top-content h3 {
	color: #1c1c1c;
	font-size: 28px;
	font-weight: 700;
	margin-bottom: 20px;
}

.top-content p {
	color: #343434;
	font-size: 18px;
	line-height: 160%;
	letter-spacing: -0.63px;
	margin-bottom: 0;
}

/*======================
CLIENT REVIEWS CSS HERE
========================*/
.client-reviews {
	padding: 80px 0;
	background: #41d6d6;
	position: relative;
	z-index: 3;
	/* overflow-x: hidden; */
}

.client-review-wrpper {
	position: relative;
	z-index: 33;
}

.white-bg {
	background-color: #fff;
	position: absolute;
	height: 51%;
	width: 100%;
	z-index: 2;
	left: 0;
	top: 0;
}

.green-bg {
	background: #165831;
	position: absolute;
	height: calc(100% - 51%);
	width: 100%;
	z-index: 2;
	left: 0;
	bottom: 0;
}

.swiper-wrapper {
	padding-top: 120px;
}

.single-review-card {
	padding: 90px 22px 30px;
	border-radius: 40px;
	border: 1px solid rgba(255, 255, 255, 0.2);
	background: rgba(255, 255, 255, 0.8);
	box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(20px);
	position: relative;
}

.client-img {
	position: absolute;
	top: -69.5px;
	left: 50%;
	transform: translateX(-50%);
}

.client-info {
	text-align: center;
}

.client-info h4 {
	color: #165831;
	font-size: 24px;
	font-weight: 600;
}

.client-info p {
	color: #165831;
	font-size: 18px;
	font-weight: 500;
}

.client-say p {
	color: #343434;
	font-size: 14px;
	line-height: 170%;
}

.slider-row {
	position: relative;
}

.swip-next,
.swip-prev {
	position: absolute;
	bottom: 41.5%;
	transform: translateY(-50%);
	z-index: 10;
	color: #000;
	padding: 10px 15px;
	border: none;
	cursor: pointer;
	font-weight: bold;
	border-radius: 5px;
}

.swip-prev.prev i,
.swip-next.next i {
	font-size: 55px;
	color: #fff;
}

.swip-prev {
	left: -60px;
}

.swip-next {
	right: -60px;
}

/*======================
PAST PROJECTS CSS HERE
========================*/
.past-projects-area {
	padding: 120px 0;
	background: #165831;
}

.past-projects-wrpper {
	display: flex;
	flex-direction: column;
	row-gap: 48px;
}

.past-projects-title h2 {
	color: #fff;
	font-size: 56px;
	font-weight: 800;
	letter-spacing: 2.24px;
	text-transform: uppercase;
	margin-bottom: 16px;
}

.past-projects-title p {
	color: #fff;
	font-size: 32px;
	letter-spacing: 0.32px;
}

.pastProducts .swiper-wrapper {
	padding-top: 0;
}

.single-project-card {
	border-radius: 14px;
	overflow: hidden;
}

.project-thumbnail img {
	width: 100%;
}

.project-details {
	padding: 0 34px;
	background: #fff;
	box-shadow: 9.739px 14.608px 38.955px 0 rgba(80, 80, 80, 0.08);
}

.project-title-subtitle {
	padding-top: 20px;
	padding-bottom: 34px;
}

.project-title-subtitle h3 {
	color: #175730;
	text-align: center;
	font-size: 24.347px;
	font-weight: 600;
	line-height: 150.903%;
}

.project-title-subtitle p {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 0;
}

.project-title-subtitle p img {
	width: 20.944px;
	height: 20.944px;
}

.project-title-subtitle p span {
	color: #343434;
	font-size: 14.608px;
	line-height: 183.333%;
}

.project-features {
	padding: 21px 0;
	display: grid;
	column-gap: 12.25px;
	row-gap: 12.49px;
	grid-template-columns: 2fr 1fr;
	border-top: 1px solid #dcdcdc;
	border-bottom: 1px solid #dcdcdc;
}

.project-features li span,
.cost-info li span {
	color: #343434;
	font-size: 14.608px;
	line-height: 183.333%;
}

.cost-info {
	padding: 21px 0;
	display: grid;
	column-gap: 12.25px;
	row-gap: 12.49px;
	grid-template-columns: 2fr 1fr;
	list-style: disc;
	padding-left: 18px;
}

.past-projects-wrpper .view-all-collection-btn {
	padding-top: 0;
}

.project-thumbnail {
	position: relative;
}

.project-thumbnail span {
	color: #fff;
	font-size: 17.145px;
	font-weight: 500;
	line-height: 157.143%;
	border-radius: 4.869px;
	background: #175730;
	padding: 7px 12px;
	display: inline-block;
	position: absolute;
	top: 25px;
	left: 20px;
}

.project-price-card {
	padding: 15px 0;
	background: radial-gradient(50% 50% at 50% 50%, #165831 0%, #0d4022 100%);
}

.project-price-card p {
	color: #fff;
	text-align: center;
	font-size: 21.912px;
	font-weight: 700;
	line-height: 166.667%;
}

.past-project-slider {
	position: relative;
}

.pass-project-swip-prev {
	position: absolute;
	left: -60px;
	top: 50%;
}

.pass-project-swip-next {
	position: absolute;
	right: -60px;
	top: 50%;
}

.pass-project-swip-prev i,
.pass-project-swip-next i {
	font-size: 55px;
	color: #fff;
}

/*======================
WORKING US CSS HERE
========================*/
.working-us-area {
	padding: 120px 0;
}

.single-working-card {
	padding: 50px 24px;
	border-radius: 12px;
	border: 1px solid #b3bac5;
	text-align: center;
	height: 100%;
	display: flex;
	flex-direction: column;
}

.single-working-top {
	flex-grow: 1;
}

.single-working-card h2 {
	color: #175730;
	text-align: center;
	font-size: 24px;
	font-weight: 600;
	line-height: 153.082%;
	margin-bottom: 15px;
}

.single-working-card p {
	max-width: 298px;
	margin: auto;
	color: #343434;
	text-align: center;
	font-size: 18px;
	line-height: 160%;
	margin-bottom: 25px;
}

.single-working-card a {
	border-radius: 12px;
	border: 1px solid #175730;
	background: #fff;
	padding: 19px 31px;
	display: inline-flex;
	align-items: center;
	gap: 11.65px;
	color: #175730;
	font-size: 15px;
	font-weight: 600;
	line-height: 100%;
	transition: all 0.4s ease;
}

.single-working-card a:hover {
	background: #175730;
	color: #fff;
}

.single-working-card a:hover svg path {
	fill: #fff;
}

.working-us-area .section-title p {
	color: #343434;
	text-align: center;
	font-size: 24px;
	font-weight: 600;
	letter-spacing: 0.24px;
	padding-bottom: 48px;
}

/*======================
RESOURCES CSS HERE
========================*/
.resources-wrpper {
	padding: 96px 0;
	display: flex;
	flex-direction: column;
	gap: 64px;
}

.resources-title {
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
}

.resources-title h2 {
	color: #165831;
	font-size: 56px;
	font-weight: 800;
	letter-spacing: 2.24px;
	text-transform: uppercase;
}

.resources-title a {
	padding: 20px 32px;
	border-radius: 40px;
	background: #165831;
	color: #fff;
	font-size: 18px;
	font-weight: 600;
	text-transform: uppercase;
	display: inline-block;
}

.single-resource-card {
	padding: 32px 32px 64px 32px;
	border-radius: 20px;
	background: #fff;
	box-shadow: 0 6px 16px 0 rgba(0, 0, 0, 0.12);
}

.resourse-banner img {
	width: 100%;
}

.resouce-desc {
	padding-top: 32px;
}

.resouce-desc span {
	color: #343434;
	font-size: 18px;
}

.resouce-desc h3 {
	color: #165831;
	font-size: 28px;
	font-weight: 700;
	line-height: 140%;
	margin-top: 23.5px;
	margin-bottom: 11.5px;
}

.resouce-desc p {
	color: #343434;
	font-size: 18px;
	line-height: 160%;
}
