/*=====================
FONTS LINK HERE
======================*/
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

/*======================
DEFAULT CSS HERE
========================*/
body {
	font-family: "Inter", sans-serif;
	font-size: 16px;
	font-weight: 400;
	background: #fff;
	color: #333333;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a,
a:hover {
	text-decoration: none;
	display: inline-block;
}

ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

::selection {
	color: white;
	background: #ff7675;
}

::-webkit-selection {
	color: white;
	background: #ff7675;
}

::-moz-selection {
	color: white;
	background: #ff7675;
}

.scrolltotop {
	width: 40px;
	height: 40px;
	line-height: 40px;
	border-radius: 50%;
	background: #008b8b;
	text-align: center;
	font-size: 22px;
	color: #ffffff;
	position: fixed;
	right: 30px;
	bottom: 25px;
	display: none;
	animation: lab_top_up 5s linear infinite;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
	z-index: 1;
}

.scrolltotop i {
	color: #ffff;
}

@keyframes lab_top_up {
	0% {
		transform: translateY(-15px);
	}
	50% {
		transform: translateY(0px);
	}
	100% {
		transform: translateY(-15px);
	}
}

.pluse,
.pluse2 {
	position: relative;
	top: 13px;
	left: -8px;
	z-index: -1;
}

.pluse::before,
.pluse2::before {
	width: 40px;
	height: 40px;
}

.pluse::after,
.pluse::before,
.pluse2::after,
.pluse2::before {
	background: #008b8b;
	border-radius: 50%;
	left: 50%;
	top: 50%;
	display: block;
	content: "";
	position: absolute;
	top: 2px;
	left: 0;
}

.pluse::after,
.pluse2::after {
	width: 30px;
	height: 30px;
	background: transparent;
	margin-left: -15px;
	margin-top: -15px;
}

.pluse::before {
	-webkit-animation: pluse_animate 2.5s infinite linear;
	animation: pluse_animate 2.5s infinite linear;
}

.pluse2::before {
	-webkit-animation: pluse_animate 3s infinite linear;
	animation: pluse_animate 3s infinite linear;
}

@keyframes pluse_animate {
	0% {
		opacity: 1;
		-webkit-transform: translate(-50%, -50%) scale(0.3);
		transform: translate(-50%, -50%) scale(0.3);
	}
	100% {
		opacity: 0;
		-webkit-transform: translate(-50%, -50%) scale(2);
		transform: translate(-50%, -50%) scale(2);
	}
}

.container {
	padding-left: 15px;
	padding-right: 15px;
}

/*======================
HEADER CSS HERE
========================*/
.header-area {
	padding: 29px 0;
}

.logo-card a img {
	width: 100%;
	max-width: 308px;
}

.desktop-menu ul {
	column-gap: 32px;
}

.desktop-menu ul li a {
	color: #212121;
	font-size: 20px;
	font-weight: 500;
}

.desktop-menu ul li:last-child a {
	padding: 20px 32px;
	display: block;
	border-radius: 8px;
	background: rgba(22, 88, 49, 0.9);
	box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.25) inset,
		0 0 40px 0 rgba(0, 0, 0, 0.25);
	color: #fff;
	font-size: 18px;
	font-weight: 600;
	text-transform: uppercase;
	border: 1px solid transparent;
	transition: all 0.5s ease;
}

.desktop-menu ul li:last-child a:hover {
	background: transparent;
	border-color: rgba(22, 88, 49, 0.9);
	color: rgba(22, 88, 49, 0.9);
}

.humbarger-icon {
	flex-direction: column;
	align-items: flex-end;
}

.icon-line {
	cursor: pointer;
}

.humbarger-icon .line {
	width: 45px;
	height: 5px;
	background-color: rgba(22, 88, 49, 0.9);
	display: block;
}

.humbarger-icon .line:nth-child(2) {
	margin: 8px 0;
}

.offcanvas-header a img {
	width: 200px;
}

.btn-close:focus {
	box-shadow: none;
}

.offcanvas-body .desktop-menu ul {
	display: flex;
	flex-direction: column;
	row-gap: 15px;
}

.offcanvas-body .desktop-menu ul li:last-child a {
	display: inline-block;
}

/*======================
HERO CSS HERE
========================*/
.hero-area {
	padding-top: 299px;
	padding-bottom: 298px;
	background: url(images/hero-area-bg.png) no-repeat;
	background-size: cover;
	background-position: center;
}

.hero-content-card {
	max-width: 700px;
}

.hero-content-card h2 {
	font-size: 60px;
	font-weight: 900;
	letter-spacing: -0.6px;
	text-transform: uppercase;
	background: linear-gradient(
		92deg,
		#165831 -0.02%,
		rgba(22, 88, 49, 0.8) 99.98%
	);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	margin-bottom: 20px;
}

.hero-content-card p {
	color: #343434;
	font-size: 32px;
	font-weight: 600;
	line-height: 150%;
	margin-bottom: 60px;
}

.hero-content-card a {
	color: #f2f2f2;
	font-size: 24px;
	font-weight: 600;
	text-transform: uppercase;
	background: url(images/hero-button-gb.png) no-repeat;
	background-size: cover;
	background-position: right;
	display: flex;
	align-items: center;
	padding-top: 4px;
	padding-bottom: 4px;
	padding-right: 6px;
	border-radius: 8px;
	padding-left: 39.39px;
	display: inline-block;
	/* clip-path: polygon(0 0, 100% 0%, 95% 100%, 0% 100%); */
}
